body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #304178;
    color: #f0f0f0; 
}

.main-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a233b;
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: -20px;
    margin-right: -20px;
    position: relative; 
}


.nav-links {
    display: flex;
    gap: 30px;
}

.main-header-nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.2s;
}

.main-header-nav a:hover {
    color: #AEC6FF;
}

.hamburger-toggle,
.hamburger-icon {
    display: none;
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        gap: 15px;
    }
    .footer-links {
        margin-top: 10px;
    }
    .footer-links a {
        margin: 0;
    }
}

@media (max-width: 768px) {
    
    .main-header-nav {
        justify-content: flex-start;
        padding: 15px 20px;
    }

    .hamburger-icon {
        display: block;
        cursor: pointer;
        z-index: 10; /* S'assure du fait qu'il soit cliquable */
    }

    .hamburger-icon span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px 0;
        border-radius: 2px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;        
        background-color: #1a233b;        
        /* Animation ouverture menu */
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        flex-direction: column;
        gap: 0;
    }
    
    .nav-links a {
        width: 100%;
        text-align: center;
        padding: 18px;
        border-bottom: 1px solid #304178; 
    }

    /* affichage menu */
    .hamburger-toggle:checked ~ .nav-links {
        max-height: 300px;
    }
    
    /* animation */
    .hamburger-toggle:checked ~ .hamburger-icon span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 5px);
    }
    .hamburger-toggle:checked ~ .hamburger-icon span:nth-child(2) {
        opacity: 0;
    }
    .hamburger-toggle:checked ~ .hamburger-icon span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}


.main-footer-nav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
}

.main-footer-nav a {
    color: #ffffff;
    background-color: #203060;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 0; 
    transition: background-color 0.2s, transform 0.1s;
}

.main-footer-nav a:hover {
    background-color: #4a6fa5;
    color: #ffffff;
    text-decoration: none; 
    transform: translateY(-1px); 
}